@{
  Layout = "_Layout";
}

@using Factory
@model Factory.Controllers.SplashPageInfo

<h1>Sillystringz Factory</h1>
<hr>

<div class="basic">
  <h4>Machines</h4>
  @if (Model.Machines.Count() == 0)
  {
    <p>No machines have been added yet!</p>
  }
  <ul>
    @foreach (var machine in Model.Machines)
    {
      <li>@nameof(machine.Name): @Html.ActionLink(machine.Name, "Details", "Machines", new { id = machine.MachineId})</li>
      <ul>
        <li>@nameof(machine.Status): @machine.Status</li>
      </ul>
    }
  </ul>

  <p>@Html.ActionLink("Add new Machine", "Create", "Machines")</p>
  <p>@Html.ActionLink("See list of Machines", "Index", "Machines")</p>
</div>

<div class="basic">
  <h4>Engineers</h4>
  @if (Model.Engineers.Count() == 0)
  {
    <p>No engineers have been added yet!</p>
  }
  <ul>
    @foreach (var engineer in Model.Engineers)
    {
      <li>@nameof(engineer.Name): @Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
    }
  </ul>

  <p>@Html.ActionLink("Add new Engineer", "Create", "Engineers")</p>
  <p>@Html.ActionLink("See list of Engineers", "Index", "Engineers")</p>
</div>

<hr>